@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/assest/fonts/inter/Inter_18pt-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  --font-primary: "Inter", sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: #000; /* full dark mode */
  color: #fff; /* optional but recommended */
}
